/* intro */
#intro {
    width: 100%;
    background-color: rgb(16, 16, 16);
}

.intro-img {
    position: sticky;
    top: 5vh;
    width: 90vw;
    height: 90vh;
    margin: 0 5vw 5vh 5vw;
    overflow: hidden;
    background-image: url("../images/top-background.png");
    background-size: cover;
    background-position: center;
    border-radius: 45px;
    z-index: 0;
}

#intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-box {
    width: fit-content;
    margin-bottom: 90vh;
    background-color: rgba(0, 0, 205, 0.75);
    color: rgba(255, 255, 255, 0.9);
    font-size: 2em;
    padding: 2em 3em;
    border-radius: 30px;
    z-index: 2;
}

#first-box {
    margin-top: 15vh;
}

#last-box {
    margin-bottom: 50vh;
}

/* about coding */
.about-container {
    display: flex;
    justify-content: space-around;
    margin: 2em 0;
}

.about-coding {
    max-width: 60vw;
}

.about-text {
    margin-bottom: 1em;
}

#about-learning {
    padding: 2em;
    margin: 2em;
    background-color: rgb(211, 211, 211);
    color: rgba(0, 0, 205, 0.9);
    border-radius: 1em;
}
.study-topics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.study-topics h4 {
    padding: 0.5em;
    cursor: pointer;
}

.stick-man-container {
    padding: 3em;
}

.explain-box {
    width: fit-content;
    height: fit-content;
    min-width: 8em;
    max-width: 12em;
    min-height: 6em;
    border: 0.75em solid rgb(16, 16, 16);
    margin-right: 2em;
    padding: 1em;
    border-radius: 1em;
}

.stick-man {
    width: 5em;
    font-family: monospace;
    font-size: 2em;
    font-weight: 900;
}

#contact {
    display: none;
}


/* Font styling */
h2 {
    font-size: 3em;
    line-height: 3;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.75em;
}

p {
    font-size: 1.5em;
}